{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block body %}
<div class="container wrapper flex-grow-1 mt-5">
    <div class="bg-dark text-light center-block">
        <div class="card-body p-5 text-center">
            {% if request.user.is_authenticated %}
                <p class="display-4 mt-5 mb-4">
                    {% trans 'Hello, ' %}
                    <span class="text-info">{{ user }}</span>
                </p>
                <p class="lead mb-0">{% trans "Nice to see you here again." %}</p>
                <p class="mb-0">{% trans "Where will we check the weather today?" %}</p>
                <div class="d-grid gap-2 col-6 mx-auto my-3">
                    {% trans 'Create forecast' as create_btn %}
                    {% url 'forecast_create' as create_url %}
                    {% bootstrap_button create_btn button_class="btn btn-outline-warning" href=create_url %}
                </div>
            {% else %}
                <p class="display-4 mt-5 mb-4">{% trans 'Hello there' %}</p>
                <p class="mx-auto w-50">
                <p class="lead">{% trans 'This is the Weather Application,' %}</p>
                <p class="text-center mx-auto w-75">
                    {% trans 'Here you can find out the weather forecast for the specified city' %}
                    <br><br>
                    {% trans 'Registration and authentication are required to work with my system.' %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
